/server/server
/server/contracts
/testnet/geth
/testnet/history
/client/node_modules
/client/schema.json
/client/.env
/server/node_modules
/server/.env
/server/dev.sqlite3
/server/coverage
__generated__
.DS_Store
